<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="Travel.Module.Platform.Core" version="1.17.14" targetFramework="net461" />
  <package id="Unity" version="4.0.1" targetFramework="net461" />
  <package id="UnityLog4NetExtension" version="2.0.1.0" targetFramework="net461" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net461" />
  <package id="VirtoCommerce.Domain" version="2.25.32" targetFramework="net461" />
  <package id="VirtoCommerce.ExportModule.Core" version="2.1.1" targetFramework="net461" />
  <package id="VirtoCommerce.ExportModule.Data" version="2.1.1" targetFramework="net461" />
  <package id="VirtoCommerce.Platform.Core" version="2.13.52" targetFramework="net461" />
  <package id="VirtoCommerce.Platform.Core.Web" version="2.13.52" targetFramework="net461" />
  <package id="VirtoCommerce.Platform.Data" version="2.13.42" targetFramework="net461" />
  <package id="VirtoCommerce.PricingModule.Data" version="2.18.14" targetFramework="net461" />
</packages>